<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>618257202616-vu4mar01kkvd2idu7lilu5qe6h6fim3i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.618257202616-vu4mar01kkvd2idu7lilu5qe6h6fim3i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>618257202616-t3q25a5o4mp0n1jmnon40fhk92d32cv1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBCeJQVrLeTWQfXThGHFK7FVqFqvB6QVrU</string>
	<key>GCM_SENDER_ID</key>
	<string>618257202616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gobi.todo</string>
	<key>PROJECT_ID</key>
	<string>todo-baaa5</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-baaa5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618257202616:ios:4337d8be86fae44a0ce34d</string>
	<key>DATABASE_URL</key>
	<string>https://todo-baaa5-default-rtdb.firebaseio.com</string>
</dict>
</plist>